<form action="/auth/login" method="POST">

  <div class="input-group mb-3 text-white bg-dark">
    <div class="input-group-prepend text-white bg-dark">
      <span class="input-group-text text-white bg-secondary" id="basic-addon1">Email</span>
    </div>
    <input type="text" id="authEmail" class="form-control text-white bg-dark" type="email" name="email" placeholder="email address..." aria-label="email address..." aria-describedby="email address">
  </div>

  <div class="input-group mb-3 text-white bg-dark">
    <div class="input-group-prepend text-white bg-dark">
      <span class="input-group-text text-white bg-secondary" id="basic-addon2">Password</span>
    </div>
    <input id="authPassword" class="form-control text-white bg-dark" type="password" name="password" placeholder="password..." aria-label="password..." aria-describedby="password">
  </div>

  <input class="btn btn-primary text-white bg-dark" type="submit">
</form>
