<h1 class="card-header text-center"><i class="fas fa-cogs"></i> My Genres</h1>

(squid) books.forEach(function(book, index) { (squid)
  <div class="well">
    <h2>
      <a href="#">(squid=) book[index].name (squid)</a>
      <small>by (squid=) book[index].author (squid)</small>
    </h2>
  </div>
  (squid) }); (squid)