<% if(currentUser) { %>
  <ul id='bottomNav'class="nav nav-pills nav-justified mt-n2 mb-n2">
    <li class="nav-item">
      <a class="nav-link btn bg-dark green" href="/favorite"><i class="fas fa-heart"></i></i><br>Favs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn bg-dark green" href="/search/new"><i class="fas fa-search"></i><br>Search</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn bg-dark green" href="/mybooks"><i class="fas fa-book-open"></i><br>Read</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn bg-dark green" href="/genres"><i class="fas fa-cogs"></i><br>Genres</a>
    </li>
  </ul>
<% } else { %>
  <ul class="nav nav-pills nav-justified">
    <li class="nav-item">
      <a class="nav-link" href="/auth/signup"><i class="fas fa-user-plus"></i> Signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a>
    </li>
  </ul>
<% } %>