
  <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="/mybooks"><i class="fas fa-book-open"></i> My Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/genres/index"><i class="fas fa-cogs"></i> My Genres</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search/new"><i class="fas fa-search"></i> Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>