<h1 class="card-header text-center"><a href="/auth/signup"><i class="fas fa-user-plus"></i> Signup</a> <span class='white'>|</span> <a href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a></h1>



