<h3 class="card-header text-center"><a href="/auth/signup"><i class="fas fa-user-plus"></i> Signup</a> <span class='white'>|</span> <a href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a></h3>
<div class="card text-white bg-dark">
  <div class="card-body text-white bg-dark text-center">
    <p class="text-justify offWhite">
      <b>nextbook</b> allows you to select genre's you're interested in and rate/review books that you've read. 
      This helps us recommend your <b>nextbook</b> based on your interests, logged books, and their ratings.
    <p>
    <p class="text-justify offWhite">
      To get started: signup, select your genre(s), and begin logging books to that you've read. We'll take care of the rest!
    <p>
  <div class="card-footer text-muted">
    made with <i class="fas fa-heart text-muted"></i> by Owen R. James
  </div>
</div>


