<h1 class="card-header"><i class="fas fa-book-open"></i> My Books</h1>

<% books.forEach(function(book, index) { %>
  <div class="well">
    <h2>
      <a href="#"><%= book.title %></a>
      <small>by <%= book.author %></small>
    </h2>
  </div>
  <% }); %>