<h1>Recommended Books</h1>

<% googleBooks.forEach(function(book, index) { %>
  <div class="well">
    <h2>
      <a href="#"><%= book.volumeInfo.title %></a>
      <small>by <%= book.volumeInfo.authors[0] %></small>
    </h2>
  </div>
<% }); %>